.login-navbar {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 4em;
    padding-inline-end: 4em;
      margin-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
}

