body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: blue;
  }
  
  .slick-slide {
    transition: opacity 0.5s ease;
    opacity: 0.5;
  }
  
  .slick-center {
    opacity: 1 !important;
    transition: opacity 0.5s ease;
  }